#body {
    -fx-background-color: #bbf;
}

.buttonLogin {
    -fx-background-color: #da3;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.buttonLogin:hover {
    -fx-background-color: #c93;
}

.buttonLogin:pressed {
    -fx-background-color: #a73;
}

.buttonMainPage {
    /*-fx-min-width: 40px;
    -fx-min-height: 40px;*/
    -fx-padding: 20px;
    -fx-background-size: 40px, 40px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.buttonMainPage:hover {
    -fx-background-color: #B7AFA3;
}

.buttonMainPage:pressed {
    -fx-background-color: #8E8474;
}


#menuVBox {
    -fx-background-color: #E8D0A9;
}

.optionsMenu {
    -fx-background-color: #F5FAFA;
}

#roomsButton{
    -fx-background-image: url("images/chatBallon.png");
}

#friendsButton{
    -fx-background-image: url("images/contacts.jpg");
}

#friendRequestButton{
    -fx-background-image: url("images/addContact.png");
}

#profileButton{
    -fx-background-image: url("images/profile.png");
}

#logoutButton{
    -fx-background-image: url("images/logout.png");
}